name: test-workflow

on:
  push:
    branches:
       - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Tes doang
        run: echo "Workflow jalan!"
        
